@model Raunstrup.UI.MVC.Models.Campaign

@{
    ViewData["Title"] = "Create";
}

<h1>Opret</h1>

<h4>Kampagne</h4>
<hr />
<section class="row">
    <article class="col-md-4">
        <form asp-action="Create" asp-controller="Campaign">
            <span asp-validation-summary="ModelOnly" class="text-danger"></span>
            <section class="form-group">
                <label asp-for="Title" class="control-label">Titel</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Procent" class="control-label">Procenter %</label>
                <input asp-for="Procent" class="form-control" />
                <span asp-validation-for="Procent" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="StartDate" class="control-label">Start-dato</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="EndDate" class="control-label">Slut-dato</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </section>
            <section class="form-group">
                <input type="submit" value="Opret" class="btn btn-primary" />
            </section>
        </form>
    </article>
</section>

<section>
    <a asp-action="Index" asp-controller="Campaign">Tilbage til listen</a>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
