@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1 style="text-align: center">Velkommen til Raunstrup</h1>
    <article id="raunstrup" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#raunstrup" data-slide-to="0" class="active"></li>
            <li data-target="#raunstrup" data-slide-to="1"></li>
            <li data-target="#raunstrup" data-slide-to="2"></li>

        </ol>

        <figure class="carousel-inner">
            <div class="carousel-item active"> <img src="~/Raunstrup2.jpg" class="w-100"></div>
            <div class="carousel-item"> <img src="~/Raunstrup3.jpg" class="w-100"></div>
            <div class="carousel-item"> <img src="~/Raunstrup4.jpg" class="w-100"></div>
        </figure>

        <a href="#raunstrup" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#raunstrup" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
        </a>

    </article>
</section>