@model Raunstrup.UI.MVC.Models.ContactModelView.ContactMV
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<body>
    <section class="col-md-6">
        <article>
            @if (ViewBag.Message == null)
            {
                <article>
                    <form method="post">
                        <span asp-validation-summary="ModelOnly" class="text-danger"></span>
                        <p class="form-group">
                            <label asp-for="Name">Navn</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name"
                                  class="text-muted"></span>
                        </p>
                        <p class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email"
                                  class="text-muted"></span>
                        </p>
                        <p class="form-group">
                            <label asp-for="Subject">Emne</label>
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject"
                                  class="text-muted"></span>
                        </p>
                        <p class="form-group">
                            <label asp-for="Message">Besked</label>
                            <textarea rows="5" cols="15"
                                      asp-for="Message" class="form-control"></textarea>
                            <span asp-validation-for="Message"
                                  class="text-muted"></span>
                        </p>
                        <p>
                            <button type="submit" id="knap"
                                    class="btn btn-success">
                                Send
                            </button>
                        </p>

                    </form>
                </article>
                <article>
                    <h3>Kontakt os her</h3>
                    <p>Email: Raunstrup@raunstrup.com</p>
                    <p>Tlf: 88888888</p>
                </article>

            }
        </article>

        <section>
            <article>
                @if (ViewBag.Message != null)
                {
                <p id="alert">@ViewBag.Message</p>
                }
            </article>
        </section>
    </section>
</body>



